* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.review-wrapper {
  /* border: 1px solid red; */
  padding: 20px 60px;
}
.review-wrapper h2 {
  margin-bottom: 20px;
}
.email-phone-wrapper {
  /* border: 1px solid red; */
  padding: 10px 50px;
}
.email-phone-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  text-align: start;
}
.email-phone-container label {
  font-weight: 500;
  font-size: 18px;
}
